<footer class="mt-auto pt-sm-4">
    <div class="d-flex justify-content-center flex-column flex-sm-row gap-5 ms-lg-5 me-lg-5 pb-4">
        
        <div class="align-self-center align-self-sm-start"><a class="navbar-brand ms-lg-5" href="/"><image class="logo p-2" src="/img/APDC cut white.png"></image></a></div>
        <div class="align-self-center d-sm-flex flex-sm-row gap-5 ">
            <div>
                <span>SERVICES</span><br><br>
                <ul class="text-decoration-none">
                    <li><a href="">Tooth Fillings</a></li>
                    <li><a href="">Tooth Extraction</a></li>
                    <li><a href="">Teeth Cleaning</a></li>
                    <li><a href="">X-ray and other Diagnostic Services</a></li>
                    <li><a href="">Children's Dentistry</a></li>
                    <li><a href="">Tooth Implants</a></li>
                    <li><a href="">Dentures and Tooth Capping</a></li>
                    <li><a href="">Dental Braces and TMJ Therapy</a></li>
                    <li><a href="">Root Canal Treatment (RCT)</a></li>
                    <li><a href="">Gum Diseases</a></li>
                    <li><a href="">Cosmetic, Smile Management <br> and Teeth Whitening</a></li>
                </ul>
            </div>
            <div>
                <span>QUICK LINKS</span><br><br>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about_us">ABOUT US</a></li>
                    <li>SERVICES
                        <ul>
                            <li><a class="" href="/services_basic">Basic Dental Services</a></li>
                            <li><a class="" href="/services_specialized">Specialized Services</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div>
                <span>SOCIAL MEDIA</span><br><br>
                <a href="https://www.facebook.com/pages/Almazan-Padlan%20Dental%20Clinic/1484672995096929/"><i class="fa-brands fa-square-facebook fa-3x"></i></a>
            </div>
        </div>
    </div>
    <div class="extra text-center d-md-flex p-4">
        <div class="ms-md-3 mb-3">Copyright: ©2022 Almazan-Padlan Dental Clinic</div>
        <div class="ms-auto me-md-3 mb-3">Powered by: Bernard-sama</div>
    </div>
</footer>