<div class="navbar navbar-transparent navbar-light navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand ms-lg-5" href="/"><image class="logo img-fluid p-2" src="/img/APDC cut dark.png"></image></a>
        <button class="navbar-toggler me-lg-5" type="button" data-bs-toggle="offcanvas" data-bs-target="#navContentHome">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="navContentHome">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><image class="logo me-auto p-2" src="/img/APDC cut dark.png"></image></h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">

                <ul class="navbar-nav justify-content-end text-lg-center flex-grow-1 gap-2 me-5 pe-3">
                    <li class="nav-item navActiveHome">
                        <a class="nav-link" aria-current="page" href="/">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about_us">ABOUT US</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                            SERVICES
                        </a>
                        <ul class="dropdown-menu p-4">
                            <li><a class="dropdown-item" href="/services_basic">Basic Dental Services</a></li>
                            <li><a class="dropdown-item" href="/services_specialized">Specialized Services</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/appointment">ONLINE APPOINTMENT</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>