html {
    font-size: smaller;
}

/* NAVBAR start*/
nav, footer {
    background-color: #003f91;
    /* color: black; */
}

.logo {
    width: 250px;
}

.navbar-nav li.navActiveHome {
    border-bottom: solid black !important;
}

.navbar-nav li.navActive {
    border-bottom: solid #ffff !important;
}

.navbar-brand {
    margin-left: 10vw;
}

.navbar-toggler, .navbar-nav {
    margin-right: 10vw;
}

/* --------------  HOME transparent navbar ------------------*/
div .navbar .navbar-nav li a {          
    color: black;
}

#navContentHome {
    background-color: #5DA9E9;
}

div .navbar .nav-item {
    font-weight: bold;        
    border-bottom: solid transparent;
}

div .navbar li:hover {
    border-bottom: solid black;
    color: black;
}

div .navbar .dropdown-menu {
    background-color: #5DA9E9;
}

div .navbar .dropdown-menu a:hover {
    background-color: #5DA9E9;
}

div .navbar .dropdown:hover .dropdown-menu {
    background-color: #5DA9E9;
    display: block;
}

div .navbar .dropdown:hover li {
    background-color: #5DA9E9;
    border-bottom: solid #5DA9E9;
}

div .navbar .dropdown:hover li:hover {
    border-bottom: solid black;
}




/* --------------  NOT transparent navbar  -------------------*/
.navbar .navbar-nav li a {           
    color: white;
}

#navContent {
    background-color: #003f91;
}

.nav-item {
    font-weight: bold;
    border-bottom: solid #003f91;
}

nav li:hover {
    border-bottom: solid #e5f4e3;
}

.dropdown-menu {
    background-color: #003f91;
}

.dropdown-menu a:hover {
    background-color: #003f91;
}

.dropdown:hover .dropdown-menu {
    background-color: #003f91;
    display: block;
}

.dropdown:hover li {
    background-color: #003f91;
    border-bottom: solid #003f91;
}

.dropdown:hover li:hover {
    border-bottom: solid white;
}
/* NAVBAR end*/



body {
    background-color: #e5f4e3;
}

.slides {
    display: flex;
}
.slides :nth-child(n) {
    flex: 1;
    min-width: 0;
    height: 320px;
    overflow: hidden;
}

#banner_home {
    width: 100%;
    height: 740px;
    background-image: url("./img/dental-equipment.jfif");
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    position: relative;
}

#banner_about {
    width: 100%;
    height: 450px;
    /* background-image: url("https://cdn.pixabay.com/photo/2022/09/06/18/16/lake-7437204_960_720.jpg"); */
    background-image: url("https://cdn.pixabay.com/photo/2020/02/19/09/28/doctor-4861811_960_720.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

#banner_services_basic {
    width: 100%;
    height: 450px;
    background-image: url("./img/basic.jfif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

#banner_services_specialized {
    width: 100%;
    height: 450px;
    /* background-image: url("https://cdn.create.vista.com/api/media/small/524042632/stock-photo-dentist-checking-woman-patient-teeth"); */
    background-image: url("./img/denture-2836230_960_720.png");
    background-image: url("./img/cleardenta.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.banner-center {
    position: absolute;
    background-color: rgb(255, 255, 255, 0.7);
    padding: 10px 10px;
    border-radius: 50%;
    color: #003f91;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-bottom {
    position: absolute;
    padding: 0 10px;
    -webkit-text-stroke: 1px black;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 0px black;
    font-weight: bold;
    bottom: 30%;
    left: 10%;
    /* transform: translate(-50%, -50%); */
}

p, .shouldBe003f91 {
    color:#003f91;
}

label {
    font-weight: bold;
}

.iField {
    background-color: #5DA9E9;
    width: 100%;
    margin-bottom: 30px;
    font-size: medium;
}

.iFieldArea {
    background-color: #5DA9E9;
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
    font-size: medium;
}

input[type="radio"]{
    margin-left: 40px;
}


.booking, .aboutBodyChildReverse {
    background-color: #ffff;
}

.booking form {
    padding: 5%;
}

.aboutHead img, .aboutBody img{
    width: 60%;
}

.lookingForDentist {
    background-color: #5DA9E9;
    height: auto;
    position: relative;
}

.lookingForDentistSub {
   padding: 30px;
}

.lookingForDentist p, .lookingForDentist a {
    font-weight: bold;
    font-size: 25px;
    color:white;
}

.lookingForDentist span {
    font-size: 50px;
}

.basic_services_image {
    width: 80%;
    height: 300px;
}

.padding-y-30px {
    padding: 30px 0;
}

.submitBTN {
    background-color: #003f91;
    border-color: #003f91;
    color: #ffff;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px 20px;
}

.submitBTN:hover {
    background-color: #5DA9E9;
    border-color: #5DA9E9;
    color: black;
    
}

.bookBTN {
    -webkit-text-stroke: 0px;
    /* background-color: #003f91; */
    /* background-color: #6D326D; */
    background-color: green;
    color: #ffff;
    border: 2px solid transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* cursor: pointer; */
    border-radius: 30px;
}

.bookBTN:hover, .bookBTN a:hover {
    background-color: #5DA9E9;
    border: 2px solid black;
    color: black;
}

#lookingForDentistBTN {
   text-align: center;
}

.viewServicesBTN {
    background-color: #5DA9E9;
    color: black;
    border-color: #5DA9E9;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
    margin: 10px 0;
}

.viewServicesBTN:hover {
    background-color: #003f91;
    color: #ffff;
}

.getServiceBTN {
    background-color: #5DA9E9;
    color: black;
    border-color: #5DA9E9;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
    margin: 10px 0;
}

.getServiceBTN:hover {
    background-color: #003f91;
    color: #ffff;
}

::-webkit-calendar-picker-indicator:hover {
    filter: invert(100%) sepia(100%) saturate(1854%) hue-rotate(3deg) brightness(107%) contrast(106%);
  }

::-webkit-calendar-picker-indicator {
    padding-left: 80%;
}
  
::-webkit-datetime-edit-fields-wrapper {
    padding: 5px;
    padding-right: 10px;
    background: #5DC9E9; 
}

.mapouter{
    height:300px;
    width: 80vw;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:100%;
    width:100%;
}


/* FOOTER start*/
footer {
    color: white;
}

footer span{
    font-weight: bold;
}

footer ul {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
}
footer li {
    margin: 5px 0;
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: #ffff;
}


footer ul a:hover {
    color: #ffff;
    border-bottom: solid #ffff;
}

footer ul ul {
    margin-bottom: 10px;
}

footer ul ul li {
    padding-left: 20px;
}

.extra {
    background-color: #062844;
}

@media (max-width: 375px) {
    ::-webkit-calendar-picker-indicator {
        padding-left: 60%;
    }
}

@media (min-width: 375px) {
    ::-webkit-calendar-picker-indicator {
        padding-left: 68%;
    }
}

@media (max-width: 470px) {
    .banner-bottom {
        -webkit-text-stroke: 0px;
        bottom: 40%;
        left: 5%;
    }
}

@media (min-width: 576px) {
    .services_display {
        display: flex;
        gap: 2%;
    }

    .services_display div {
        height: 100%;
        flex: 1;
    }

    .services_display img {
        width: 80%;
        height: 350px;
    }

    .lookingForDentistSub {
        display: flex;
        justify-content: space-around;
    }
    #lookingForDentistBTN {
        align-self: center;
    }
    .entryHalved {
        width: 45%;
    }

    .booking {
        width: 70vw;
    }

    .basic_services_description {
        width: 80%;
        padding-left: 20%;
    }

    ::-webkit-calendar-picker-indicator {
        padding-left: 20%;
    }
}

@media (min-width: 640px) {
    .aboutHead {
        display: flex;
    }

    .aboutHead :nth-child(1) {
        flex: 1 0 50%;
        align-self: center;
    }

    .aboutHead img {
        height: 300px;
    }
}

@media (min-width: 850px) {
    ::-webkit-calendar-picker-indicator {
        padding-left: 50%;
    }
}

@media (max-width: 960px) {
    .aboutBodyChildReverse p{
        text-align: center;
    }

    .aboutBodyChildReverse div {
        text-align: justify;
    }

    .aboutBodyChildReverse div div {
        padding: 20px;
    }
}

@media (min-width: 960px) {
    .aboutBodyChild, 
    .aboutBodyChildReverse {
        display: flex;
    }

    .aboutBodyChild :nth-child(n),
    .aboutBodyChildReverse :nth-child(n) {
        flex: 1;
        align-self: center;
    }

    .aboutBodyChildReverse :nth-child(1) {
        order: 2; 
    }
}

@media (min-width: 1200px) {
    ::-webkit-calendar-picker-indicator {
        padding-left: 65%;
    }

    .booking {
        width: 1000px;
    }
}