html {
    font-size: smaller;
}

/* NAVBAR start*/
nav, footer {
    background-color: #003f91;
    /* color: black; */
}

.logo {
    width: 250px;
}

.navbar-nav li.navActiveHome {
    border-bottom: solid black !important;
}

.navbar-nav li.navActive {
    border-bottom: solid #ffff !important;
}

/* --------------  HOME transparent navbar ------------------*/
div .navbar .navbar-nav li a {          
    color: black;
}

#navContentHome {
    background-color: #5DA9E9;
}

div .navbar .nav-item {
    font-weight: bold;        
    border-bottom: solid transparent;
}

div .navbar li:hover {
    /* border-left: solid black;
    border-right: solid black;
    border-top: solid black; */
    border-bottom: solid black;
    color: black;
}

div .navbar .dropdown-menu {
    background-color: #5DA9E9;
}

div .navbar .dropdown-menu a:hover {
    background-color: #5DA9E9;
}

div .navbar .dropdown:hover .dropdown-menu {
    background-color: #5DA9E9;
    display: block;
}

div .navbar .dropdown:hover li {
    background-color: #5DA9E9;
    border-bottom: solid #5DA9E9;
}

div .navbar .dropdown:hover li:hover {
    border-bottom: solid black;
}




/* --------------  NOT transparent navbar  -------------------*/
.navbar .navbar-nav li a {           
    color: white;
}

#navContent {
    background-color: #003f91;
}

.nav-item {
    font-weight: bold;
    border-bottom: solid #003f91;
}

nav li:hover {
    border-bottom: solid #e5f4e3;
}

.dropdown-menu {
    background-color: #003f91;
}

.dropdown-menu a:hover {
    background-color: #003f91;
}

.dropdown:hover .dropdown-menu {
    background-color: #003f91;
    display: block;
}

.dropdown:hover li {
    background-color: #003f91;
    border-bottom: solid #003f91;
}

.dropdown:hover li:hover {
    border-bottom: solid white;
}
/* NAVBAR end*/

body {
    background-color: #e5f4e3;
}


/* background-image: url("https://wallpapercave.com/wp/wp10167050.jpg"); */
/* https://cdn.pixabay.com/photo/2017/09/03/09/17/question-2709670_960_720.jpg */

#banner_home {
    width: 100%;
    height: 740px;
    /* background-image: url("https://cdn.pixabay.com/photo/2022/09/06/18/16/lake-7437204_960_720.jpg"); */
    /* background-image: url("https://cdn.pixabay.com/photo/2020/02/19/09/28/doctor-4861811_960_720.jpg"); */
    background-image: url("./img/dental-equipment.jfif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

#banner_about {
    width: 100%;
    height: 450px;
    /* background-image: url("./img/work-with-us-palmerston-dental-surgery.jpg"); */
    /* background-image: url("https://cdn.pixabay.com/photo/2022/09/06/18/16/lake-7437204_960_720.jpg"); */
    background-image: url("https://cdn.pixabay.com/photo/2020/02/19/09/28/doctor-4861811_960_720.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

#banner_services_basic {
    width: 100%;
    height: 450px;
    /* background-image: url("https://cdn.create.vista.com/api/media/small/221551100/stock-photo-dentist-dental-intervention-patient-dental"); */
    /* background-image: url("https://cdn.create.vista.com/api/media/small/484131762/stock-photo-dentist-lady-in-medical-mask"); */
    background-image: url("https://cdn.create.vista.com/api/media/small/524042632/stock-photo-dentist-checking-woman-patient-teeth");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

#banner_appointment {
    width: 100%;
    height: 450px;
    /* background-image: url("./img/planner-7102236_960_720.png"); */
    /* background-image: url("https://cdn.pixabay.com/photo/2022/09/06/18/16/lake-7437204_960_720.jpg"); */
    background-image: url("https://cdn.create.vista.com/api/media/small/11115274/stock-photo-calendar");
    /* background-image: url("https://cdn.create.vista.com/api/media/small/21561743/stock-photo-business-calendar"); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}


#banner_careers {
    width: 100%;
    height: 450px;
    background-image: url("https://cdn.pixabay.com/photo/2020/02/18/16/48/professor-4860068_960_720.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

#banner_contact {
    width: 100%;
    height: 450px;
    background-image: url("./img/banner_contact.png");
    /* background-image: url("https://cdn.pixabay.com/photo/2022/09/06/18/16/lake-7437204_960_720.jpg"); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}



.banner-center {
    position: absolute;
    /* background-color: #e5f4e3; */
    background-color: rgb(255, 255, 255, 0.7);
    padding: 10px 10px;
    border-radius: 50%;
    color: #003f91;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-bottom {
    position: absolute;
    /* background-color: #e5f4e3; */
    padding: 0 10px;
    -webkit-text-stroke: 1px black;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 0px black;
    font-weight: bold;
    bottom: 30%;
    left: 10%;
    /* transform: translate(-50%, -50%); */
}

p {
    color:#003f91;
}

label {
    font-weight: bold;
}

.iField {
    background-color: #5DA9E9;
    width: 100%;
    margin-bottom: 30px;
    font-size: medium;
}

.iFieldArea {
    background-color: #5DA9E9;
    width: 100%;
    height: 250px;
    /* font-weight: bold; */
    font-size: medium;
}

input[type="radio"]{
    margin-left: 40px;
}


.send, .booking{
    background-color: #ffff;
}

.contact {
    background-color: #5DA9E9;
}

.lookingForDentist {
    background-color: #5DA9E9;
    height: auto;
    position: relative;
}

.lookingForDentistSub {
   padding: 30px;
}

.lookingForDentist p, .lookingForDentist a {
    font-weight: bold;
    font-size: 25px;
    color:white;
}

.lookingForDentist span {
    font-size: 50px;
}

.submitBTN {
    background-color: #003f91;
    border-color: #003f91;
    color: #ffff;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px 20px;
}

.submitBTN:hover {
    background-color: #5DA9E9;
    border-color: #5DA9E9;
    color: black;
    
}

.bookBTN {
    -webkit-text-stroke: 0px;
    /* background-color: #003f91; */
    /* background-color: #6D326D; */
    background-color: green;
    color: #ffff;
    border: 2px solid transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* cursor: pointer; */
    border-radius: 30px;
}

.bookBTN:hover, .bookBTN a:hover {
    background-color: #5DA9E9;
    border: 2px solid black;
    color: black;
}

#lookingForDentistBTN {
   text-align: center;
}

.viewServicesBTN {
    background-color: #5DA9E9;
    color: black;
    border-color: #5DA9E9;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
    margin: 10px 0;
}

.viewServicesBTN:hover {
    background-color: #003f91;
    color: #ffff;
}

::-webkit-calendar-picker-indicator:hover {
    filter: invert(100%) sepia(100%) saturate(1854%) hue-rotate(3deg) brightness(107%) contrast(106%);
  }

::-webkit-calendar-picker-indicator {
    padding-left: 80%;
}
  
::-webkit-datetime-edit-fields-wrapper {
    padding: 5px;
    padding-right: 10px;
    background: #5DC9E9; 
}

.mapouter{
    text-align:right;
    height:300px;
    width:280px;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:100%;
    width:100%;
}

/* FOOTER start*/
footer {
    color: white;
}

footer span{
    font-weight: bold;
}

footer ul {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
}
footer li {
    margin: 5px 0;
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: #ffff;
}

footer a:hover {
    color: #ffff;
    border-bottom: solid #ffff;
}

.rare {
    background-color: #062844;
}

@media (max-width: 375px) {
    .mapouter{
        text-align:right;
        height:300px;
        width: 280px;
    }

    .send, .contact {
        width: 320px;
    }

    ::-webkit-calendar-picker-indicator {
        padding-left: 60%;
    }
}
@media (min-width: 375px) {
    .mapouter{
        height: 300px;
        width: 330px;
    }

    .send, .contact {
        width: 375px;
    }

    ::-webkit-calendar-picker-indicator {
        padding-left: 68%;
    }
}


@media (min-width: 425px) {
    .mapouter{
        height:300px;
        width: 375px;
    }

    .send, .contact {
        width: 425px;
    }
}

@media (max-width: 470px) {
    .banner-bottom {
        -webkit-text-stroke: 0px;
        bottom: 40%;
        left: 5%;
    }
}


@media (min-width: 576px) {
    .lookingForDentistSub {
        display: flex;
        justify-content: space-around;
    }
    #lookingForDentistBTN {
        align-self: center;
    }
    .entryHalved {
        width: 45%;
    }

    .booking {
        width: 60vw;
    }

    ::-webkit-calendar-picker-indicator {
        padding-left: 20%;
    }
}

@media (min-width: 640px) {
    .aboutHead {
        display: flex;
    }

    .aboutHead :nth-child(n) {
        flex: 1;
        align-self: center;
    }
}


@media (min-width: 768px) {
    .mapouter{
        height:340px;
        width: 349px;
    }

    .send, .contact {
        width: 50vw;
    }
}

@media (min-width: 850px) {
    ::-webkit-calendar-picker-indicator {
        padding-left: 50%;
    }
}

@media (min-width: 960px) {
    .aboutBodyChild1, 
    .aboutBodyChild2 {
        display: flex;
    }

    .aboutBodyChild1 :nth-child(n),
    .aboutBodyChild2 :nth-child(n) {
        flex: 1;
        align-self: center;
    }

    .aboutBodyChild2 :nth-child(1) {
        order: 2; 
    }
}

@media (min-width: 992px) {
    .mapouter{
        height:340px;
        width: 300px;
    }

    .send, .contact {
        height: 650px;
    }
}
@media (min-width: 1200px) {
    .send, .contact {
        width: 40vw;
        height: 650px;
    }

    ::-webkit-calendar-picker-indicator {
        padding-left: 65%;
    }
}
@media (min-width: 1800px) {
    .mapouter{
        height:500px;
        width: 450px;
    }
}