<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs")%>


<body class="d-flex flex-column min-vh-100">


<%- include("./partials/nav.ejs")%>


<div id="banner_about" class="text-center">
    <p class="banner-center display-2">ABOUT US</p>
</div>

<div>
    <div class="aboutHead bg-light">
        <div>
            <img src="https://cdn.pixabay.com/photo/2021/09/06/08/59/dentist-6601202_960_720.png" class="img-fluid" alt="">
        </div>
        <div>
            <p class="display-4 fw-bold p-3">HISTORY</p>
            <p class="p-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ducimus illo officia explicabo id magni vero asperiores. Inventore cum, dolores voluptates dolor fugit officiis eius architecto excepturi magnam molestias non.
                Ad quisquam eum exercitationem possimus nam quas doloribus beatae et quaerat, laborum voluptatum ratione nulla repudiandae saepe libero a officia eos deleniti quae neque, quos at quam? Tempora, voluptate repellat!
                Enim officiis veritatis ducimus iusto repudiandae quaerat autem sed deleniti obcaecati, quos atque natus ipsam voluptate velit cupiditate nostrum in, quia voluptatum beatae odio qui unde. Adipisci illo blanditiis eveniet!
            </p>
        </div>
    </div>
    <div class="aboutBody">
        <div class="aboutBodyChild1">
            <div class="">
                <p class="p-3"><span class="display-6 fw-bold">VISION</span><br><br> Our Vision is to be the preferred dental clinic of all the clients we serve.</p>
                <p class="p-3"><span class="display-6 fw-bold">MISSION</span><br><br> The Mission of Almazan-Padlan Dental Clinic is to provide the best dental health service by continuously aiming for excellence through a constant, healthy, and dynamic relationship with our patients.</p>
                <p class="p-3"><span class="display-6 fw-bold">VALUES</span><br><br> "KUSA AT MALASAKIT"</p>
            </div>
            <div class="">
                <img src="https://cdn.pixabay.com/photo/2021/09/06/08/59/dentist-6601202_960_720.png" class="img-fluid" style="width:100%">
            </div>
        </div>
        <div class="aboutBodyChild2">
            <div>
                <p class="p-3"><span class="display-6 fw-bold">OUR TEAM</span><br><br> Almazan-Padlan Dental core team began in 2002, composed of UP Graduates from multiple disciplines and backgrounds.

                    Through Doc Elvira's leadership, guidance and mentorship, the core team has been able to create a healthy working environment that fosters specialization and a multi-disciplinary approach to patient treatment.
                    
                    This unique approach has made Almazan-Padlan Dental Clinic a center of learning where professional growth and exposure is consistent and reliable, allowing like-minded dentists and professionals to thrive and work harmoniously.</p>
            </div>
            <div class="">
                <img src="https://cdn.pixabay.com/photo/2021/09/06/08/59/dentist-6601202_960_720.png" class="img-fluid" style="width:100%">
            </div>
        </div>

        <div class="p-4 border border-dark aboutBodyChild1">
            <div><p class="display-4 fw-bold text-dark">Contact</p></div>
            <div class="d-lg-flex gap-3">
                <div>
                    <p class="text-dark"><span class="fw-bold">Almazan-Padlan <br> Dental Clinic</span><br><br>  
                        Dr. Elvira Almazan Padlan <br>
                        Business Listing 4481, <br> 
                        Santolan Road, Valenzuela City, <br>
                        1442 Metro Manila, Philippines <br><br>
    
                        Landline: (02) 293 3789
                    </p>
                </div>
                <br>
                <!-- https://www.embedgooglemap.net/ -->
                
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=Dra.%20Elvira%20Almazan-Padlan%20and%20Associates%20Dental%20Clinic,%20Gen.%20T.%20de%20Leon,%204481%20Santolan%20Rd,%20Valenzuela,%201442%20Metro%20Manila&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        <a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include("./partials/footer.ejs")%>
</body>
</html>