<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs")%>


<body class="d-flex flex-column min-vh-100">


<%- include("./partials/nav.ejs")%>


<div id="banner_about" class="text-center">
    <p class="banner-center display-2">ABOUT US</p>
</div>

<div>
    <div class="aboutHead bg-light">
        <div>
            <img src="https://cdn.pixabay.com/photo/2021/09/06/08/59/dentist-6601202_960_720.png" class="img-fluid" alt="">
        </div>
        <div>
            <p class="display-4 fw-bold p-3">HISTORY</p>
            <p class="p-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ducimus illo officia explicabo id magni vero asperiores. Inventore cum, dolores voluptates dolor fugit officiis eius architecto excepturi magnam molestias non.
                Ad quisquam eum exercitationem possimus nam quas doloribus beatae et quaerat, laborum voluptatum ratione nulla repudiandae saepe libero a officia eos deleniti quae neque, quos at quam? Tempora, voluptate repellat!
                Enim officiis veritatis ducimus iusto repudiandae quaerat autem sed deleniti obcaecati, quos atque natus ipsam voluptate velit cupiditate nostrum in, quia voluptatum beatae odio qui unde. Adipisci illo blanditiis eveniet!
            </p>
        </div>
    </div>
    <div class="aboutBody">
        <div class="aboutBodyChild1">
            <div class="">
                <p class="p-3"><span class="display-6 fw-bold">VISION</span><br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur blanditiis aut pariatur quo modi illum dolorem nisi in beatae vel, eius itaque temporibus, deleniti neque, facere natus accusamus rerum suscipit?</p>
                <p class="p-3"><span class="display-6 fw-bold">MISSION</span><br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum expedita iure, rerum saepe architecto omnis voluptatem assumenda odio neque corrupti nobis necessitatibus culpa fugiat obcaecati. Perferendis iure soluta voluptatum mollitia.</p>
                <p class="p-3"><span class="display-6 fw-bold">VALUES</span><br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur aliquam deserunt facilis accusantium reprehenderit minus possimus quisquam ullam repudiandae expedita? Voluptatum consequuntur excepturi assumenda ad deleniti dolore beatae aut ex.</p>
            </div>
            <div class="">
                <img src="https://cdn.pixabay.com/photo/2021/09/06/08/59/dentist-6601202_960_720.png" class="img-fluid" style="width:100%">
            </div>
        </div>
        <div class="aboutBodyChild2">
            <div>
                <p class="p-3"><span class="display-6 fw-bold">OUR TEAM</span><br><br> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor nostrum, facilis doloremque explicabo ut odit ad voluptates sit, iure suscipit reiciendis porro quam dolore voluptatem laboriosam enim aliquam vel iusto.
                Veritatis iure numquam voluptatem laborum illo? Quis rem quaerat eveniet, labore, ex tempora debitis, hic harum error tenetur ea eos. Odio iste nulla vero! Reprehenderit placeat quo ipsum debitis minima.
                Rerum delectus sit quae minima vero, possimus deleniti beatae atque praesentium quam vel ad incidunt est autem ut non explicabo animi maiores tempora veritatis culpa illo. Iusto repellat quas excepturi.</p>
            </div>
            <div class="">
                <img src="https://cdn.pixabay.com/photo/2021/09/06/08/59/dentist-6601202_960_720.png" class="img-fluid" style="width:100%">
            </div>
        </div>
    </div>
</div>


<%- include("./partials/footer.ejs")%>
</body>
</html>