<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs")%>


<body class="d-flex flex-column min-vh-100">


<%- include("./partials/nav.ejs")%>


<div id="banner_services_basic" class="text-center">
    <p class="banner-center display-2">BASIC DENTAL SERVICES</p>
</div>

<div class="services_basic d-flex flex-column justify-content-center align-items-center p-4">
    <div>
        <img src="https://cdn.pixabay.com/photo/2021/09/06/08/59/dentist-6601202_960_720.png" class="img-fluid" alt="">
        <p>A tooth with a cavity can be identified by black/blown lesions that may or may not lead to tooth sensitivity. Tooth decay is addressed by removing the portion of the tooth with a lesion and filling it with a restorative material. The type of restoration material used depends on the size, location, and other factors that are taken into consideration by the dentist.</p>
    </div>
    <div></div>
    <div></div>
    <div></div>
</div>


<%- include("./partials/footer.ejs")%>
</body>
</html>