<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs")%>


<body class="d-flex flex-column min-vh-100">


<%- include("./partials/nav.ejs")%>


<div id="banner_services_specialized" class="text-center">
    <p class="banner-center display-2">SPECIALIZED SERVICES</p>
</div>

<div class="services_basic p-4">
    <div class="padding-y-30px mb-5 row align-items-center bg-light">
        <div class="text-center col-sm-6">
            <p class="display-6 fw-bold">Pediatric Dentistry</p>
            <img src="/img/pediatric.jfif" class="img-fluid basic_services_image" alt="">
        </div>
        <div class="col-sm-6">
            <p class="basic_services_description">Your child's first visit to the dentist need not be a daunting experience. The members of our Pediatric Dentistry Team have undergone certification and extensive training on how to manage pediatric patients properly, therefore we believe we can provide your child with a less stressful and more enjoyable dental experience.</p>
            <div class="text-center basic_services_description">
                <a href="/#appointment" class="getServiceBTN">Get This Service</a>
            </div>
        </div>
    </div>
    <div class="mb-5 row align-items-center">
        <div class="text-center col-sm-6 order-sm-1">
            <p class="display-6 fw-bold">Dental Implants</p>
            <img src="/img/implants.png" class="img-fluid basic_services_image" alt="">
        </div>
        <div class="col-sm-6 order-sm-0">
            <p class="basic_services_description">In instances when a tooth cannot be saved and dental prosthesis is not ideal, a dental implant may be required. Dental implants involve the use of a tooth substitute – often times made of titanium – to replace the missing tooth and is placed within the bone. Over time, the dental implant will fuse with the bone via osseous integration and act just like a normal tooth. Dental implants not only address esthetic concerns but it can restore a tooth's functionality as well.</p>
            <div class="text-center basic_services_description">
                <a href="/#appointment" class="getServiceBTN">Get This Service</a>
            </div>
        </div>
    </div>
    <div class="padding-y-30px mb-5 row align-items-center bg-light">
        <div class="text-center col-sm-6">
            <p class="display-6 fw-bold">Dentures and Tooth Capping</p>
            <img src="/img/denture.jfif" class="img-fluid basic_services_image" alt="">
        </div>
        <div class="col-sm-6">
            <p class="basic_services_description">When tooth loss is inevitable, dentures can be used as a way to restore one's smile and confidence. Prosthodontic rehabilitation can be achieved with either fixed or removable dentures. Removable dentures are indicated for those with few remaining teeth. This type of denture is ideal for those who prefer a more conservative restoration that is more easily cleaned. Fixed prosthesis on the other hand come in the form of crowns, onlays and inlays. These are cemented in place and require some form of tooth preparation. For patients whose teeth are all missing, complete dentures are recommended.</p>
            <div class="text-center basic_services_description">
                <a href="/#appointment" class="getServiceBTN">Get This Service</a>
            </div>
        </div>
    </div>
    <div class="mb-5 row align-items-center">
        <div class="text-center col-sm-6 order-sm-1">
            <p class="display-6 fw-bold">Orthodontic Braces and TMJ Therapy</p>
            <img src="/img/orthodontic-braces.jfif" class="img-fluid basic_services_image" alt="">
        </div>
        <div class="col-sm-6 order-sm-0">
            <p class="basic_services_description">Patients who may have issues with teeth alignment or occlusion may need interventional treatment through the use of braces, retainers or other orthodontic appliances. In order to determine what treatment approach is necessary, our orthodontic specialists can prepare and analyze diagnostic materials such as casts, x-rays and photos. In cases where there is disharmony with the jaw muscles or misalignment of TMJ structures (i.e. Temporomandibular Joint Disorder), a complete medical and dental evaluation may be required to determine whether a patient is suffering from TMD. After a full diagnosis, proper treatment can involve stress reduction of the joint and muscles, resting the jaw, therapy, and further medication.</p>
            <div class="text-center basic_services_description">
                <a href="/#appointment" class="getServiceBTN">Get This Service</a>
            </div>
        </div>
    </div>
    <div class="padding-y-30px mb-5 row align-items-center bg-light">
        <div class="text-center col-sm-6">
            <p class="display-6 fw-bold">Root Canal Therapy</p>
            <img src="/img/dental-surgery.jfif" class="img-fluid basic_services_image" alt="">
        </div>
        <div class="col-sm-6">
            <p class="basic_services_description">Root canal therapy treats an infected tooth through the elimination of infection via manual debridement and chemical treatment. Decontaminating the tooth and filling it from the inside removes harmful bacteria and prevents reinfection. This type of treatment is often a better alternative to having the infected tooth extracted.</p>
            <div class="text-center basic_services_description">
                <a href="/#appointment" class="getServiceBTN">Get This Service</a>
            </div>
        </div>
    </div>
    <div class="mb-5 row align-items-center">
        <div class="text-center col-sm-6 order-sm-1">
            <p class="display-6 fw-bold">Gums Management</p>
            <img src="/img/management.jfif" class="img-fluid basic_services_image" alt="">
        </div>
        <div class="col-sm-6 order-sm-0">
            <p class="basic_services_description">Inflamed gums with gingivitis may develop a more serious condition known as Periodontal disease. When Periodontal disease occurs, the bone supporting the tooth may be affected and thereby lead to the loosening of the tooth or in some case tooth loss. To treat periodontal disease, procedures such as deep cleaning and other periodontal services may be necessary. The type of treatment plan needed to properly manage the patient's condition will depend upon clinical findings and your dentist's recommendations.</p>
            <div class="text-center basic_services_description">
                <a href="/#appointment" class="getServiceBTN">Get This Service</a>
            </div>
        </div>
    </div>
    <div class="padding-y-30px mb-5 row align-items-center bg-light">
        <div class="text-center col-sm-6">
            <p class="display-6 fw-bold">Aesthetic Dentistry</p>
            <img src="/img/whitening.png" class="img-fluid basic_services_image" alt="">
        </div>
        <div class="col-sm-6">
            <p class="basic_services_description">A patient's aesthetic concerns can be addressed by modifying a tooth’s color, shape, size and alignment. Some of these changes can be attained by procedures such as in-office whitening, veneers and crowns. Esthetic dentistry aims to improve quality of life by improving one’s self-image because a confident smile is a beautiful smile.</p>
            <div class="text-center basic_services_description">
                <a href="/#appointment" class="getServiceBTN">Get This Service</a>
            </div>
        </div>
    </div>
</div>


<%- include("./partials/footer.ejs")%>
</body>
</html>