<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs")%>


<body class="d-flex flex-column min-vh-100">


<%- include("./partials/nav.ejs")%>


<div id="banner_services_basic" class="text-center">
    <p class="banner-center display-2">SPECIALIZED SERVICES</p>
</div>

<div class="d-flex flex-column justify-content-center align-items-center p-4">
    
</div>


<%- include("./partials/footer.ejs")%>
</body>
</html>