<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs")%>


<body class="d-flex flex-column min-vh-100">


<%- include("./partials/nav.ejs")%>


<div id="banner_services_basic" class="text-center">
    <p class="banner-center display-2">BASIC DENTAL SERVICES</p>
</div>

<div class="services_basic p-4">
    <div class="padding-y-30px mb-5 row align-items-center bg-light">
        <div class="text-center col-sm-6">
            <p class="display-6 fw-bold">Tooth Fillings</p>
            <img src="/img/toothfillings.jfif" class="img-fluid basic_services_image" alt="">
        </div>
        <div class="col-sm-6">
            <p class="basic_services_description animate__animated animate__slideInRight">A tooth with a cavity can be identified by black/brown lesions that may or may not lead to tooth sensitivity. Tooth decay is addressed by removing the portion of the tooth with a lesion and filling it with a restorative material. The type of restoration material used depends on the size, location, and other factors that are taken into consideration by the dentist.</p>
            <div class="text-center basic_services_description">
                <a href="/#appointment" class="getServiceBTN">Get This Service</a>
            </div>
        </div>
    </div>
    <div class="services_basic_child mb-5 row align-items-center">
        <div class="text-center col-sm-6 order-sm-1">
            <p class="display-6 fw-bold">Tooth Extraction</p>
            <img src="/img/toothextraction.jfif" class="img-fluid basic_services_image" alt="">
        </div>
        <div class="col-sm-6 order-sm-0">
            <p class="basic_services_description animate__animated animate__slideInLeft">When a tooth can no longer be saved and needed to be removed because of an infection, trauma, or other indications, an extraction of the said tooth may be in order. This procedure is done under local anesthesia. An x-ray is taken prior to removing the tooth to determine if there are factors which may complicate the procedure. Some cases of extraction however may be too difficult to remove in the conventional matter, therefore surgical removal of the tooth may be necessary.</p>
            <div class="text-center basic_services_description">
                <a href="/#appointment" class="getServiceBTN">Get This Service</a>
            </div>
        </div>
    </div>
    <div class="padding-y-30px mb-5 row align-items-center bg-light">
        <div class="text-center col-sm-6">
            <p class="display-6 fw-bold">Teeth Cleaning / Oral Prophylaxis</p>
            <img src="/img/clean.jfif" class="img-fluid basic_services_image" alt="">
        </div>
        <div class="col-sm-6">
            <p class="basic_services_description animate__animated animate__slideInRight">Plaque which is composed of bacteria and other debris found in the mouth can lead to gingivitis which is usually exhibited by red, swollen, and painful gums which may be sensitive and bleed easily. Oral prophylaxis helps to address the symptoms caused gingivitis. This is done by scraping off plaque and tartar build-up and polishing teeth for a healthier, brighter smile.</p>
            <div class="text-center basic_services_description">
                <a href="/#appointment" class="getServiceBTN">Get This Service</a>
            </div>
        </div>
    </div>
    <div class="services_basic_child mb-5 row align-items-center">
        <div class="text-center col-sm-6 order-sm-1">
            <p class="display-6 fw-bold">X-ray and other Diagnostic Services</p>
            <img src="/img/panoramiccephalometric.jpeg" class="img-fluid basic_services_image" alt="">
        </div>
        <div class="col-sm-6 order-sm-0">
            <p class="basic_services_description  animate__animated animate__slideInLeft">Almazan-Padlan Dental Clinic offers services such as digital Periapical and Panoramic X-rays to facilitate proper diagnosis and treatment planning. Our facility is also equipped to fabricate diagnostic materials such as X-rays, dental models and photos essential for orthodontic treatment planning.</p>
            <div class="text-center basic_services_description">
                <a href="/#appointment" class="getServiceBTN">Get This Service</a>
            </div>
        </div>
    </div>
</div>


<%- include("./partials/footer.ejs")%>
</body>
</html>