<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs")%>
<body class="d-flex flex-column justify-content-center min-vh-100">
<%- include("./partials/nav.ejs")%>

<marquee behavior="" scrollamount="15" class="mb-3"><pre>*CREATE AN OBJECT FOLLOWING MONGOOSE MODEL / SCHEMA.                                         *CREATE AN OBJECT FOLLOWING MONGOOSE MODEL / SCHEMA.</pre></marquee>

<div class="d-flex justify-content-center">
  <form action="/add" method="POST" class="post_form border p-5">
    <div class="mb-3">
      <label for="brand" class="form-label">Brand:</label>
      <input type="text" class="form-control" name="brand" id="brand" />
    </div>
    <div class="mb-3">
      <label for="founded" class="form-label">Founded:</label>
      <input type="number" class="form-control" min="1700" max="2022" step="1" name="founded" id="founded" value="2000"/>
    </div>
    <div class="mb-3">
      <label for="isActivelyProduced" class="form-label">isActivelyProduced:</label>
      <select id="isActivelyProduced"  class="form-control" name="isActivelyProduced">
        <option value="true">true</option>
        <option value="false">false</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<%- include("./partials/footer.ejs")%>
</body>
</html>